body {
    background-image: url('./assets/pexels-honza-kurka-894010.jpg');
    background-repeat: repeat-x;
    background-size: 700px;
    color: #fff;
}

#get-residents-button {
    height: 65px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
    color: #fff;
    box-shadow: inset lightsteelblue;
}

#get-residents-button:hover {
    cursor: pointer;
    color: lightsteelblue;
}